VITE_NETWORK_ID=preprod
VITE_MIDNIGHT_NODE_URI=https://rpc.preprod.midnight.network
VITE_MIDNIGHT_INDEXER_URI=https://indexer.preprod.midnight.network/api/v4/graphql
VITE_MIDNIGHT_INDEXER_WS_URI=wss://indexer.preprod.midnight.network/api/v4/graphql/ws
VITE_MIDNIGHT_PROOF_SERVER_URI=http://localhost:6300
VITE_VEILDRIVE_CONTRACT_ADDRESS=
VITE_STORAGE_PROVIDER=indexeddb
