contract/src/managed/**/*.prover filter=lfs diff=lfs merge=lfs -text
contract/src/managed/**/*.verifier filter=lfs diff=lfs merge=lfs -text
contract/src/managed/**/*.bzkir filter=lfs diff=lfs merge=lfs -text
